{% extends "base.html"%}

{% block title %}
Appointments
{% endblock %}

{% block nav%}
{% include "student/nav.html"%}
{% endblock %}

{% block content %}
{% block inner_nav %}
{% include "student/inner_nav.html" %}
{% endblock inner_nav %}

<main>
    {% for appointment in appointments %}
    <div class="notification">
        <div class="apt-content">
            <p><b>Appointment type: {{appointment.service_type}}</b></p> <br>
            <p><b>Appointment Date: {{appointment.session_date}}</b></p> <br>
            <p><b>Appointment Time: {{appointment.session_time}}</b></p> <br>
            <p><b>Response Date: {{appointment.response_date}}</b></p> <br>
            <p><b>Professional: {{appointment.professional}}</b></p> <br>
        </div>
    </div>
    {% empty %}
    <p>No appoiments yet! </p>
    {% endfor %}
</main>
{% endblock %}