{% extends "../base/base.html" %}
{% block title %}
Home - E_counseling
{% endblock %}
{% block content %}
{% include "student/nav-main.html" %}
<main class="">
    <form class="form p-4 mx-auto m-4 col-md-6" action="{% url 'student:book' %}" method="post">
        {% csrf_token %}

        <h3 class="head text-center">Apointment Intake Form</h3>
        <small class="text-muted">fill the form below to book an appointment with a cousellor</small>
        <hr><br>

        <p>
            <label class="small font-weight-bold">Full Name</label>
            {{ form.full_name }}
        </p>
        <p>
            <label class="small font-weight-bold">Email Address</label>
            {{ form.email }}
        </p>
        <p>
            <label class="small font-weight-bold">Phone Number</label>
            {{ form.phone }}
        </p>
        <p>
            <label class="small font-weight-bold">Level</label>{{ form.level }}
        </p>
        <p>
            <label class="small font-weight-bold">Faculty</label>{{ form.faculty }}
        </p>
        <p>
            <label class="small font-weight-bold">Department</label>{{ form.department }}
        </p>
        <p>
            <label class="small font-weight-bold">Program of study</label>{{ form.program }}
        </p>
        <p>
            <label class="small font-weight-bold">Hall of Affiliation</label>{{ form.hall }}
        </p>
        <p>
            <label class="small font-weight-bold">Service type (Guidance/Councelling )</label>{{ form.service_type }}
        </p>
        <p>
            <label class="small font-weight-bold">Prefered Counsellor</label>{{ form.professional }}
        </p>
        <p>
            <label class="small font-weight-bold">Reason for Appointment</label>{{ form.reason }}
        </p>

        <button class="btn btn-dark btn-block py-2 mb-4 mt-5 font-weight-bold" type="submit" value="Log-in">Book
            Appointment</button>

    </form>
</main>
{% include "base/footer.html" %}
{% endblock %}