{% extends "../base/base.html" %}
{% block title %}
Home - E_counseling
{% endblock %}
{% block content %}
{% include "student/nav-main.html" %}
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">E-Counselling App</h1>
        <p class="lead">Experience the simplicity of our ecounselling app - effortlessly navigate through sessions,
            communicate with counselors,
            and access resources with ease.</p>
    </div>
    <div class="py-4">
        <div class="row">
            <div class="col-md-6">
                <a class="text-dark" href="{% url 'student:book' %}">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="" alt="">
                        <div class="card-body">
                            <h2 style="font-size:18px;font-weight:bold">Book an Appointment with a counsellor</h2>
                            <p class="card-text"> Introducing our streamlined appointment booking card, designed to
                                simplify scheduling for your ecounselling sessions.
                                With intuitive features and a user-friendly interface, booking your next appointment is
                                now more convenient than ever.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a class="text-dark" href="{% url 'student:appointments' %}">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="" alt="">
                        <div class="card-body">
                            <h2 style="font-size:18px;font-weight:bold">Check Appointment Status</h2>
                            <p class="card-text">Presenting our intuitive "View Appointment" card, offering a seamless
                                glimpse into your upcoming ecounselling sessions.
                                Effortlessly access essential details such as date, time, and counselor information,
                                ensuring you stay organized and
                                prepared for each session.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% include "base/footer.html" %}
{% endblock %}