<nav class="navbar">
    <section class="navbar-links">
        {% if not user.is_authenticated %}
        <a href="{% url 'student:home' %}">Home</a>
        <a href="{% url 'accounts:student_login' %}">Student</a>
        <a href="{% url 'accounts:staff_login' %}">Staff</a>
        {% else %}
        <!-- <a href="{% url 'student:book' %}">Book</a> -->
        <a href="{% url 'student:dashboard' %}">Dashborad</a>
        <a href="{% url 'accounts:student_logout' %}">Logout</a>
        {% endif %}
    </section>
</nav>