{% extends "base.html" %}


{% block title %}
Register
{% endblock %}

{% block nav%}
{% include "student/nav.html"%}
{% endblock %}

{% block content %}
<form action="{% url 'accounts:register'%}" method="post">
    {% csrf_token %}
    <p>
        <input type="text" name="username" required placeholder="User Name">
    </p>
    <p>
        <input type="email" name="email" required placeholder="email">
    </p>
    <p>
        <input type="password" name="password" required placeholder="Password">
    </p>
    <p>
        <input type="password" name="password1" required placeholder="Confirm Password">
    </p>

    <br>
    <input type="submit" value="Register">
    <input type="button" value="{{next}}" hidden>
</form>
{% endblock %}