{% extends "../base/base.html" %}
{% block title %}
Student-Appointmentments
{% endblock %}
{% block content %}
{% if request.user.is_staff %}
  {% include "staff/nav-main.html" %}
{% else %}
  {% include "student/nav-main.html" %}
{% endif %}
  <main>
    <div class="card m-5" style="width: 40%;">
      <img src="path_to_image" alt="Profile Picture" class="profile-picture">
      <div class="contact-info">
        <h2>John Doe</h2>
        <p>Email: john.doe@example.com</p>
        <p>Phone: 123-456-7890</p>
      </div>
    </div>
  </main>
{% include "base/footer.html" %}
{% endblock content %}

