{% extends 'base.html' %}

{% block title %}
Add Dates
{% endblock %}

{% block nav %}
{% include "staff/nav.html"%}
{% endblock %}

{% block content %}
<style>
    /* Optional styling for the dropdown */
    .dropdown {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content {
        padding: 12px 16px;
    }

    .show {
        display: block;
    }

    .avail-dates {
        margin: 20px 10px;
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;

    }

    .avail-dates h2 {
        margin-bottom: 10px;
    }

    .avail-dates ul {
        list-style-type: none;
        padding: 0;
    }

    .avail-dates li {
        margin-bottom: 10px;
    }

    .avail-dates a {
        text-decoration: none;
        color: blue;
        margin-left: 10px;
    }

    .dropdown form {
        padding: 12px 16px;
        width: 300px;
        height: 200px;
    }

    .dropdown input {
        margin-bottom: 10px;
        padding: 5px;
    }

    #addBtn {
        padding: 10px;
        margin-top: 10px;
        margin-left: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
    }

    .del-date {
        padding: 3px;
        background-color: #f44336;
        color: white;
        border: none;
        border-radius: 5px;
    }
</style>

<main>
    <section>
        <button id="addBtn">Add</button>
        <div id="dropdownContent" class="dropdown">
            <form action="{% url 'staff:add_dates' %}" method="post">
                {% csrf_token %}
                <label for="date">Date:</label>
                <input type="date" id="date" name="date"><br>
                <label for="time">Time:</label>
                <input type="time" id="time" name="time"><br>
                <button id="addBtn" type="submit">Submit</button>
            </form>
        </div>
    </section>
    <section class="avail-dates">
        <h2>Available Dates</h2>
        {% for date in dates %}
        <ul>
            <li>
                <form action="{% url 'staff:delete_date' %}" method="post">
                    {% csrf_token %}
                    {{date.date}} @ {{date.time}}
                    <button class="del-date" value="{{date.id}}" name="id" type="submit">delete</button>
                </form>
            </li>
        </ul>
        {% endfor %}
    </section>
</main>

<script>
    const addBtn = document.getElementById("addBtn");
    const dropdownContent = document.getElementById("dropdownContent");

    addBtn.addEventListener("click", function () {
        dropdownContent.classList.toggle("show");
    });
</script>
{% endblock %}