{% extends "../base/base.html" %}
{% block title %}
Staff-Appointmentments
{% endblock %}
{% block content %}
{% include "staff/nav-main.html" %}
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h3 class="display-5">Appointments</h3>
        <p class="lead">avalialble appointments with client</p>
    </div>
    <div class="py-4">
        <div class="row">
            {% for appointment in appointments %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="" alt="">
                    <div class="card-body">
                        <h2 style="font-size:18px;font-weight:bold">
                            {{appointment.user}} - <small class="text-muted">{{appointment.status|lower}}</small>
                        </h2>
                        <p class="card-text">{{appointment.reason|truncatechars:50}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">Date: {{appointment.session_date}} |
                                {{appointment.session_time}}</small><br>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">Counsellor: {{appointment.professional}}</small>
                        </div>
                        <input type="text" hidden value="{{appointment.user.id}}" name="id">
                        <a class="mt-2 btn btn-dark"
                            href="{% url 'staff:single_request' appointment.user.id %}?appointment_id={{appointment.id}}">Take
                            Session</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include "base/footer.html" %}
{% endblock %}