{% extends "base.html" %}

{% block title %}
Appointments
{% endblock title %}

{% block nav %}
{% include "staff/nav.html" %}
{% endblock nav %}

{% block content %}
<style>
    .apmt-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .card {
        margin: 10px;
        width: 18rem;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 5px;
    }

    .card-header {
        font-size: 1.5rem;
        background-color: #548bc6;
        color: white;
        padding: 3px;
        text-align: center;
        margin: 5px;
        border-radius: 15px;
    }

    .card-body {
        padding: 10px;


    }

    .revoke-btn {
        background-color: #dc3545;
        color: white;
        padding: 5px;
        margin: 10px;
        /* margin-top: 1rem; */
        border: 0px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
    }

    .done-btn {
        background-color: #35c941;
        color: white;
        padding: 5px;
        margin: 10px;
        border: 0px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
    }

    .card hr {
        margin: 5px;

    }

    .search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;

    }

    #search-input {
        padding: 5px;
        width: 80%;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

    #search-input:active {
        border: 1px solid #9bc4f0;

    }

    #search-submit {
        padding: 5px;
        width: 15%;
        border-radius: 5px;
        border: 1px solid #ddd;
        background-color: #548bc6;
        color: white;
    }
</style>

<main>
    <div class="search">
        <form action="">
            <input id="search-input" type="search" required placeholder="search...">
            <input id="search-submit" type="submit" value="search">
        </form>
    </div>

    <section class="apmt-section">
        {% for appointment in appointments %}
        <div class="card">
            <div class="card-header">
                {{appointment.full_name}}
            </div>
            <div class="card-body">
                <form action="{% url 'staff:appointments' %}" method="post">
                    {% csrf_token %}

                    <h5 class="card-title">{{appointment.session_date.date}} @ {{appointment.session_date.time}}</h5>
                    <br>
                    <p class="card-text">{{appointment.reason}}</p>
                    <button class="done-btn" value={{appointment.id}} name="id">Done</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </section>
</main>
{% endblock content %}