{% extends 'base.html' %}

{% block title %}
Staff Home
{% endblock %}

{% block nav %}
{% include "staff/nav.html"%}
{% endblock %}

{% block content %}
<style>
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .card {
        width: 18rem;
        height: auto;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 10px;
        margin: 10px;
    }

    .card-header {
        font-size: 20px;
        font-weight: bold;

    }

    .card-body {
        font-size: 16px;

    }

    button {
        margin-top: 100px;
        padding: 5px;
        background-color: green;
        border-radius: 5px;
        color: white;
        border: none;
        cursor: pointer;
    }
</style>

<main>
    {% for appointment in appointments %}
    <div class="card">
        <form action="{% url 'staff:home' %}" method="post">
            {% csrf_token %}
            <p class="card-header">{{appointment.user}}</p>
            <p class="card-body">{{appointment.reason}}</p>
            <button name="id" value="{{ appointment.id}}">Accept</button>
        </form>
    </div>
    {% endfor %}
</main>
{% endblock %}