<nav class="navbar">
    <section class="navbar-links">
        {% if user.is_authenticated %}
        <a href="{% url 'staff:home' %}">Requests</a>
        <a href="{% url 'staff:appointments' %}">Appointments</a>
        <a href="{% url 'staff:add_dates'%}">Add Dates</a>
        <a href="{% url 'accounts:staff_logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'student:home' %}">Home</a>
        <a href="{% url 'accounts:login' %}">Student</a>
        <a href="{% url 'accounts:staff_login' %}">Staff</a>
        {% endif %}
    </section>
</nav>