<html>

    {% for note in notes %}
    <div class="card my-2">
        <div class="card-body">
        <h5 class="card-header"><b>Problem Identified:</b> {{note.problem_identity}}</h5>
        <p class="card-text"><b>Counselling session:</b>b> {{note.counselling_session}}</p>
        <p class="card-text"><b>Appearance:</b> {{note.appearnace}}</p>
        <p class="card-text"><b>Interventions:</b> {{note.intervention}}</p>
        <p class="card-text"><b>Recomendation:</b> {{note.recomendation}}</p>
        <p class="card-text"><b>Assignment:</b> {{note.assignment}}</p>
        <div class="card-text d-flex">
            <small class="text-muted"> --{{note.session_date}}</small>
            <!-- <p><input class="btn btn-dark btn-sm mx-3" type="submit" value="check notes"></p> -->
        </div>
        
        </div>
      </div>
      {% empty %}
      <p>No notes were recorded for this session</p>
      {% endfor %}
</html>
