<html>
    {% for note in notes %}
    <div class="notes-card">
        <div class="note-body">
        <h5 class="note-header"><b>Problem Identified:</b> {{note.problem_identity}}</h5>
        <p class="note-text"><b>Counselling session:</b>b> {{note.counselling_session}}</p>
        <p class="note-text"><b>Appearance:</b> {{note.appearnace}}</p>
        <p class="note-text"><b>Interventions:</b> {{note.intervention}}</p>
        <p class="note-text"><b>Recomendation:</b> {{note.recomendation}}</p>
        <p class="note-text"><b>Assignment:</b> {{note.assignment}}</p>
        <div class="note-text">
            <small class="note-text-muted"> --{{note.session_date}}</small>
           <p><input class="btn btn-dark btn-sm mx-3" type="submit" value="check notes"></p> 
        </div>
        
        </div>
      </div>
      {% empty %}
      <p>No previous notes</p>
      {% endfor %}
</html>
