{% extends "base.html"%}

{% block title %}
Appointments
{% endblock %}

{% block nav%}
{% include "nav.html"%}
{% endblock %}

{% block content %}
<div class="user-nav">
    <section class="options">
        <a href="{% url 'core:appointment' %}">Appointments</a>
        <a href="{% url 'core:book' %}">Book</a>
        <a href="{% url 'core:notifications'%}">Notifications</a>
    </section>
</div>

<main>
    {% for appointment in appointments %}
    <div class="notification">
        <div class="apt-content">
            <p><b>Appointment type: {{appointment.service_type}}</b></p> <br>
            <p><b>Date: {{appointment.date}}</b></p> <br>
            <p><b>Professional: {{appointment.professional}}</b></p> <br>
        </div>
    </div>
    {% endfor %}
</main>
{% endblock %}