{% extends 'base.html' %}

{% block title %}
Book Appointment
{% endblock %}

{% block nav%}
{% include "nav.html"%}
{% endblock %}

{% block content %}
<div class="user-nav">
    <section class="options">
        {% url 'core:appointment' as appt %}

        <a href="{% url 'core:appointment' %}">Appointments</a>
        <a href="{% url 'core:book' %}">Book</a>
        <a href="{% url 'core:notifications'%}" onclick="hello()">Notifications {{count}}</a>
    </section>
</div>
<main class="form-section">
    <br>
    <h2>fill in the form below to book a session with a counsellor </h2>
    <form class="booking" action="{% url 'core:book' %}" method="post">

        {% csrf_token %}
        <input type="text" name="user" value="{{request.user}}" hidden>
        <p>
            <input type="text" name="fname" id="name" placeholder="Full Name" required autocomplete="on">
        </p>
        <p>
            <input type="email" name="email" id="email" placeholder="email" required autocomplete="on">
        </p>
        <p>
            <input type="tel" name="phone" id="phone" autocomplete="on" required placeholder="Valid Phone Number">
        </p>
        <p>
            <!-- <label for="level">Level</label> -->
            <select required name="level" id="level">
                <option selected="true" disabled aria-disabled="false">Level</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
            </select>
        </p>
        <p>
            <!-- <label for="service">Service Type</label> -->
            <select required name="service_type" id="level">
                <option disabled selected="true">Service Type</option>
                <option value="guidance">Guidance</option>
                <option value="counselling">Counselling</option>
            </select>
        </p>
        <p>
            <select required name="professional" id="professional">
                <option selected="true" disabled aria-disabled="false">Professional</option>
                {% for professional in professionals %}
                <option value="{{professional.id}}">{{professional.name}}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <input required type="text" name="department" id="department" placeholder="Department" spellcheck="true">
        </p>
        <p>
            <textarea required name="reason" id="reason" cols="30" rows="10"
                placeholder="Reason for Counselling Session..." spellcheck="true"></textarea>
        </p>
        <p>
            <button class="btn" type="submit" value="Book Session">Book Session</button>
        </p>
    </form>
</main>
{% endblock %}