{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block nav%}
{% include "nav.html"%}
{% endblock %}

{% block content %}
<main>
    <section>
        <h2 class="home-txt">Guidance And Counselling Unit <br>AAMUSTED</h2>
    </section>
    <article class="activities">
        <section class="activity">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium eaque consequatur libero fugiat
                dolorum! Magni dolor, voluptas quibusdam dolore necessitatibus quam odio totam amet eius itaque.
                Saepe
                doloribus ipsum necessitatibus?</p> <br>
            <a href="{% url 'student:book' %}">Book Session</a>
        </section>

        <section class="activity">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe, blanditiis aperiam animi hic
                nemo
                minima nobis quis aliquam tempore amet in exercitationem, ratione sint, omnis dignissimos. Quam,
                recusandae quis!
            </p> <br>
            <a href="{% url 'accounts:login' %}">Login</a>
        </section>

        <section class="activity">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum alias voluptatum id consectetur
                eveniet
                vitae veritatis, distinctio, enim suscipit deleniti sunt temporibus rerum ipsa asperiores,
                voluptates
                quod accusamus dolores autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quae
                maxime
            </p> <br>
            <a href="{% url 'student:appointment' %}">Check Appointment</a>

        </section>
    </article>
</main>
{% endblock %}