{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block nav%}
{% include "nav.html"%}
{% endblock %}

{% block content %}
<div class="user-nav">
    <section class="options">
        {% url 'core:appointment' as appt %}
        <a href="{% url 'core:appointment' %}">Appointments</a>
        <a href="{% url 'core:book' %}">Book</a>
        <a href="{% url 'core:notifications'%}">Notifications {{count}}</a>
    </section>
</div>
<main>
    <div class="notification">
        <p>content date time </p>
        <button>Read</button>
    </div>
</main>
{% endblock %}