{% extends "../base/base.html" %}

{% block title %}
  Appointments
{% endblock title %}

{% block navbar %}
  {% include "base/navbar.html" %}
{% endblock navbar %}

{% block content %}
<div class="request-main main-content">
    <section class="request-bn">
        <div class="request-txt-c text-content">
            <h1>Requests</h1>
            <p>Schedule appointment requests Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique distinctio cum perferendis quia aut sint, quasi pariatur officiis dolor aliquid praesentium hic vel dolorem tempore! Vel est facilis sit eligendi.</p>
            <button id="request-banner-btn">See Pending Requests</button>
        </div>
    </section>
    <section class="request-ct-page page-content">
        {% for request in requests %}
        <div class="request-bx request-box">
            <p><strong>Student: {{request.user.username}}</strong></p>
            <p>{{request.reason|truncatechars:50}}</p>
            <small>Counsellor: {{request.professional}}</small><br>
            <small>Date: {{request.request_date}}</small>
        </div>
        {% endfor %}
    </section>
</div>

{% endblock content %}